.btn {
  border: none;
  padding: 0;
  background-color: transparent;
  transition: 0.2s ease;
  cursor: pointer;

  &.btn--logout {
    background-color: var(--accent-muted-color);
    color: var(--fg-color);
    position: relative;
    box-shadow: var(--shadow-subtle);
    width: 100%;
    padding: var(--spacing-sm);
    border-radius: var(--spacing-md);
    text-align: center;
    z-index: 1;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-color: var(--red-muted);
      opacity: 0.5;
      width: 0;
      height: 100%;
      border-radius: var(--spacing-md);
      transition: width 0.3s ease;
      z-index: -1;
    }

    &:hover::after {
      width: 100%;
    }
  }

  &.btn--task {
    background-color: var(--accent-muted-color);
    padding: var(--spacing-base);
    border-radius: var(--spacing-base);
    width: 100%;
    text-align: left;
    border: 1px solid var(--border-color);

    position: relative;
  }

  &.btn--link {
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
    transition: 0.2s ease;

    &:hover {
      scale: 1.05;
    }
  }

  @media (min-width: 768px) {
    &:hover {
      scale: 1.03;
    }
    &.btn--notifications {
      padding: var(--spacing-xs) var(--spacing-sm);
      color: var(--fg-black);
      opacity: 1;
      transition: opacity 0.2s;
      transition-delay: 0.2s;

      &:hover {
        scale: 1.03;
      }

      &.open {
        opacity: 0;
        transition: opacity 0.1s;
      }
    }
  }
}
