<div class="dropdown">
    <button class="dropdown__trigger" aria-label="<%= entityName %> options">
        <svg class="icon icon--base">
            <use href="/assets/icons/sprite.svg#dots-icon"></use>
        </svg>
    </button>
    <div class="dropdown__menu">
        <button class="dropdown__item" data-trigger="edit-<%= entityName %>">
            <svg class="icon icon--base">
                <use href="/assets/icons/sprite.svg#edit-icon"></use>
            </svg>
            Edit
        </button>
    </div>
</div>