<button class="btn dashboard__action shadow-subtle" data-trigger="add-<%= entityName %>">
    <svg class="icon icon--2xl">
        <use href="/assets/icons/sprite.svg#rounded-plus-icon"></use>
    </svg>
    <small>Add new <%= entityName %></small>
</button>