<%- include('./employee-simple-header', { headerTitle: 'Notifications' }) %>

    <section class="flex flex--col gap-md relative">
        <div class="flex flex--between flex--center">
            <h2 class="text-lg font-semibold">Recent Notifications</h2>
            <button data-action="mark-all-as-read"
                class="btn border shadow-subtle p-inline-sm rounded-md bg-grey-active">Read all</button>

        </div>
        <ul class="flex flex--col gap-sm" data-container="notifications-list">
            <!-- Dynamic Notifications here -->
        </ul>

    </section>