<header class="flex flex--between flex--center">
    <div class="flex flex--center translate-x-left-sm">
        <a href="/employee">
            <svg class="icon icon--back">
                <use href="/assets/icons/sprite.svg#arrow-icon"></use>
            </svg>
        </a>
        <h1 class="text-lg">
            <%= headerTitle %>
        </h1>
    </div>
</header>