<form id="addDepartmentForm" class="modal__body">
    <div class="form-group">
        <label for="addDepartmentName" class="text-base">Department Name</label>
        <input type="text" id="addDepartmentName" name="name" required class="rounded p-inline-lg p-block-xs text-lg border shadow-subtle w-full">
    </div>

    <div class="modal__footer">
        <button type="button" class="btn rounded p-inline-md p-block-sm text-lg bg-gray border-none pointer shadow" data-close>Cancel</button>
        <button type="submit" class="btn rounded p-inline-md p-block-sm text-lg text-primary bg-blue-accent shadow pointer border-none">
            Add Department
        </button>
    </div>
</form>