<form id="editSub_departmentForm" class="modal__body">
    <input type="hidden" id="subdepartmentDepartmentId" name="department_id">

    <div class="form-group">
        <label for="subdepartmentName" class="text-base">Subdepartment Name</label>
        <input type="text" id="subdepartmentName" name="name" required
            class="rounded p-inline-lg p-block-xs text-lg border shadow-subtle w-full">
    </div>

    <div class="form-group">
        <label for="subdepartmentActive" class="text-base">Status</label>
        <div class="select-wrapper w-full">
            <select id="subdepartmentActive" name="is_active" class="select rounded border shadow-subtle w-full">
                <option value="1">Active</option>
                <option value="0">Inactive</option>
            </select>
            <svg class="icon">
                <use href="/assets/icons/sprite.svg#arrow-icon"></use>
            </svg>
        </div>
    </div>

    <div class="modal__footer">
        <button type="button" class="btn rounded p-inline-md p-block-sm text-lg bg-gray border-none pointer shadow"
            data-close>Cancel</button>
        <button type="submit"
            class="btn rounded p-inline-md p-block-sm text-lg text-primary bg-blue-accent shadow pointer border-none">
            Update Subdepartment
        </button>
    </div>
</form>